<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<% @users.each do |t| %>
	Email: <%= t.email %><br>
	Name: <%= t.name %><br>
	Surname: <%= t.surname %><br>
	Credit: <%= t.credit %><br>
	Avatar: <%= image_tag t.avatar.url(:medium) %>
<%end%>