<h1>Bets#edit</h1>
Wprowadz dane zakladu

<%= form_for(@bets) do |t| %>
	<div class="backgroud_for_bets opacity">
		Name of Bet: <%= t.text_field :name %><br>
		Description: <%= t.text_area :description %><br>
		Stake: <%= t.number_field :credit %><br>
		End Date: <%= t.date_select :end_date_of_challenge %><br>
		<%= t.submit "Challenge" %>
	</div>
<%end%>
