<h1>Bets</h1>
<div class="opacity">
	<% @bets.each do |t| %>
		<div class="backgroud_for_bets">
      		<% start_days = (t.end_date_of_challenge.to_date - t.created_at.to_date).to_i %>
      		<% current_days= (t.end_date_of_challenge.to_date - @current_date.to_date).to_i %>
      		<% current_days_percentage = (1-(current_days.to_f/start_days.to_f))*100 %>
    		<div class="progress ">
      			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="current_days_percentage" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_days_percentage%>%">
      			<div class=""><%= current_days_percentage.to_i%>%</div>
      			</div>
    		</div>
	   		<div class="user_owner"> <%= image_tag t.user_owner.avatar.url, class: "img-circle", width: "70px", height: "70px" %></div>
    		<div class="bet_content">
        		Name of Bet: <%= link_to(t.name, {:action=>'show', :id=>t.id})%><br>
        		Description: <%= t.description %><br>
        		Stake: <%= t.credit %><br>
      		</div>
		<% if t.user_participant_id == 0 %>
			<div class="user_participant btn button">Join</div>
		<%else%>
	  		<div class="user_participant">
	    	<%= image_tag t.user_owner.avatar.url , class: "img-circle", width: "70px", height: "70px" %>
	  		</div>
		<%end%>
		<br><br><br>
  	<%end%>
</div>