Wprowadz dane zakladu, uzytkownik: <%=@user.email%>, id: <%=@user.id%> 

<%= form_for(@bets) do |t| %>
<div class="backgroud_for_bets">
Name of Bet: <%= t.text_field :name %><br>
Description: <%= t.text_area :description %><br>
Rate: <%= t.number_field :credit %><br>
End Date: <%= t.date_select :end_date_of_challenge %><br><br>
			
<%= t.submit "Confirm" %>
</div>
<%end%>