Wprowadz dane zakladu

<%= form_for(@bets) do |t| %>
	<div class="backgroud_for_bets opacity">
		Name of Bet: <%= t.text_field :name %><br>
		Description: <%= t.text_area :description %><br>
		Stake: <%= t.text_field :credit %><br>
		End Date: <%= t.date_select :end_date_of_challenge %><br>
		Send an email Invitation to your friend: <br>
		<%= t.email_field :invitation%><br><br>
		<%= t.submit "Confirm" %>
	</div>
<%end%>