<h1>Bets#show</h1>
<p>Find me in app/views/bets/show.html.erb</p>
<%= @bets.user_owner.name %>
Name of Bet: <%= @bets.name %><br>
Description: <%= @bets.description %><br>
Rate: <%= @bets.credit %><br>
Image: <%= image_tag @bets.image.url(:thumb)%>
Rate: <%= @bets.credit %><br>
User 1: <%= @bets.user_owner_id %><br>
User 2: <%= @bets.user_participant_id %><br><br><br>
